.outer {
    overflow: hidden;
    position: relative;
    width: 400px;
}

table#dailyMenu {
    margin: auto;
}

iframe {
    position: absolute;
    width: 1100px;
    height: 900px;
    -moz-transform:scale(0.75);
    moz-transform-origin: 0 0;
}

.siil_outer {
    height: 196px;
}

.siil_frame {
    top: -345px;
    left: -450px;
}

.suliko_outer {
    height: 341px;
    width: 402px;
}

.suliko_frame {
    left: -361px;
    top: -273px;
    transform: scale(0.5);
}

div.copyright {
    font: italic 15px arial, serif;
    text-align: center;
}